<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
	<include path="~/Content/font-awesome-4.7.0/css/font-awesome.css" />
	<include path="~/Content/font-awesome-4.7.0/fonts/fontawesome-webfont.eot" />
	  <include path="~/Content/font-awesome-4.7.0/fonts/fontawesome-webfont.svg" />
	  <include path="~/Content/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf" />
	  <include path="~/Content/font-awesome-4.7.0/fonts/fontawesome-webfont.woff" />
	  <include path="~/Content/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2" />
	  <include path="~/Content/font-awesome-4.7.0/fonts/fontawesome.otf" />
  </styleBundle>
</bundles>